@import '~office-ui-fabric-react/dist/sass/References.scss';

.toDo {

  .boardContainer{
    background-color: $ms-color-themePrimary;
  }
  
  .header{
    color: $ms-color-themePrimary;
    background-color: white;
    text-align: center;
  }
 
  :global(.smooth-dnd-container.horizontal) {
    white-space: unset !important;
}
  }
 


